.ez-toc-counter {
    background: rgb(77, 3, 114);
    border-radius: 24px;
    padding: 32px 40px;
    margin: 40px 0;
    max-width: fit-content;

    ul, ol {
        margin: 0 !important;
        list-style: initial !important;

        li {
            list-style-position: inside !important;
            display: list-item !important;

            a {
                display: inline;
            }
        }

        li, a {
            font-size: 22px !important;
            font-weight: 300;

            @include response-max($mobile) {
                font-size: 16px !important;
            }
        }

        @include response-min($desktop) {
            li {
                &, &::marker {
                    transition: $transition;
                }

                &:hover, &:focus {
                    &::marker, & > a {
                        color: rgba(207, 0, 218, 1);
                    }
                }
            }
        }
    }

    @include response-max($mobile) {
        padding: 24px 28px;
        margin: 24px 0;
    }
}

.ez-toc-title {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 28px !important;
    margin-bottom: 16px !important;

    @include response-max($mobile) {
        font-size: 24px !important;
    }
}

.ez-toc-title-toggle {
    display: none;
}

.ez-toc-list {
    padding-left: 4px !important;

    li {
        &:not(:last-child) {
            margin-bottom: 5px !important;
        }

        &:before, &:after {
            content: none !important;
        }
    }

    & > li {
        padding-left: 0 !important;
        list-style-type: decimal !important;

        a + ul {
            &, ul {
                margin-top: 5px !important;
            }

            li {
                list-style-type: lower-alpha !important;
                padding-left: 14px !important;

                a + ul {
                    li {
                        list-style-type: circle !important;
                        padding-left: 14px !important;
                    }
                }
            }
        }
    }
}

section.single {
    .ez-toc-counter {
        padding: 24px;
        max-width: 100%;
    }

    li, a {
        font-size: 19px !important;
        line-height: 1.4;

        @include response-max($mobile) {
            font-size: 16px !important;
        }
    }
}