*, :after, :before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background: rgba(1, 0, 8, 1);
    @include scrollbar;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    color: $color-font;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    &:not(.home) {
        section {
            &:first-of-type {
                padding-top: 0;
            }
        }
    }

    @include response-min($header-responsive + 1) {
        &.home {
            main {
                padding-top: 100px;
            }
        }

        &:not(.home) {
            main {
                padding-top: 40px;
            }
        }
    }

    @include response-max($header-responsive) {
       &.home {
            main {
                padding-top: 80px;
            }
        }

        &:not(.home) {
            main {
                padding-top: 100px;
            }
        }
    }

    @include response-min($laptop-portrait) {
        &.home {
            background: url('../img/bg-landing.png') bottom / cover no-repeat rgba(23, 2, 36, 0.4);
        }
    }

    @include response-min($laptop-portrait) {
        &:not(.home) {
            background: url('../img/bg-all.png') top / cover no-repeat rgba(23, 2, 36, 0.4);
        }
    }

    @include response-max($mobile) {
        background: url('../img/bg-all-mob.png') top / cover no-repeat rgba(23, 2, 36, 0.4);
    }

    @media (max-width: $mobile) {
        font-size: 1.6rem;
    }
}

a {
    text-decoration: none;
    color: $color-font;
    transition: $transition;
}

p {
    margin: 0 0 5px 0;
}

input,
button {
    font-family: inherit;
}

h1,
h2,
h3,
.bold {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Bruno Ace SC', sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 0.02em;
    margin-bottom: 35px;

    @include response-max($mobile) {
        font-size: 32px;
        line-height: 35.2px;
        margin-bottom: 24px;
    }
}

h2 {
    font-size: 28px;

    @media (max-width: $mobile) {
        font-size: 22px;
    }
}

h3 {
    font-size: 22px;

    @media (max-width: $mobile) {
        font-size: 20px;
    }
}

.title {
    @extend h2;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.logo {
    max-width: 101px;
    flex-shrink: 0;

    img {
        @extend .contain;
    }
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.background {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-contain {
    @extend .background;
    background-size: contain;
}

.bg-cover {
    @extend .background;
    background-size: cover;
}

.logo {
    @extend .contain;
}

@include response-max($laptop-portrait) {
    #wpadminbar {
        display: none;
    }
}

.container {
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

section {
    padding: 80px 0;
    position: relative;

    @include response-max($laptop-landscape) {
        padding: 32px 0;
    }
}

.main {
    flex-grow: 1;
}

.pointer {
    @include response-min($desktop) {
        cursor: pointer;
    }
}

.event-none {
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-center {
    @extend .d-flex;
    justify-content: center;
}

.d-flex-column {
    @extend .d-flex;
    flex-direction: column;
}

._spinner {
    pointer-events: none;
    position: relative;
}

._spinner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    backdrop-filter: blur(2px);
    min-height: 500px;
}

.btn {
    background: rgb(53, 4, 119);
    background: linear-gradient(90deg, rgba(53, 4, 119, 1) 17%, rgba(99, 5, 117, 1) 74%);
    box-shadow: $box-shadow;
    display: inline-block;
    font-family: 'Bruno Ace SC', sans-serif;
    letter-spacing: 2px;
    color: $color-font;
    font-size: 1.6rem;
    line-height: 1;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
    padding: 14px 25px;
    position: relative;
    border: none;
    border-radius: 24px;
    transition: ease-in-out 0.2s;
    text-transform: capitalize;

    &.disabled, &[disabled] {
        opacity: 0.5;
    }

    @include response-min($desktop) {
        cursor: pointer;

        &:hover, &:focus {
            outline: none;
            text-decoration: none;
            opacity: 0.8;
        }
    }

    @include response-max($mobile) {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
}

.breadcrumbs {
    margin-bottom: 20px;

    & > span {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 21px;
        row-gap: 10px;

        span {
            font-size: 24px;
            line-height: 1;

            a {
                color: rgba(255, 255, 255, 0.3);
            }

            @include response-max($mobile) {
                font-size: 20px;

                &:first-child {
                    position: relative;

                    &:before {
                        content: '...';
                        color: rgba(255, 255, 255, 0.3);
                    }

                    a {
                        display: none;
                    }
                }
            }
        }

        i {
            font-style: normal;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid rgba(255, 255, 255, 0.3);
            border-right: 0;
        }

        @include response-max($mobile) {
            column-gap: 21px;
        }
    }
}