$color-main: #1a0330;
$color-main-hover: '';

$color-font: rgba(255, 255, 255, 1);
$color-font-secondary: rgba(255, 255, 255, 0.7);
$color-font-hover: linear-gradient(90deg, #6202F3 0%, #D600E4 100%);

$box-shadow-card: '';
$box-shadow-card-hover: '';

$transition: 0.3s ease-in-out;

$laptop-landscape: 1024px;
$desktop: 1025px;
$laptop-portrait: 768px;
$mobile: 767px;
$header-responsive: 1250px;