$color-main: '';
$color-main-hover: '';

$color-font: rgba(255, 255, 255, 1);

$box-shadow-card: '';
$box-shadow-card-hover: '';

$transition: 0.3s ease-in-out;

$laptop-landscape: 1024px;
$laptop-portrait: 768px;
$mobile: 576px;
$header-responsive: 1250px;