body {
    background: url('../img/bg.png') top / cover no-repeat;
    position: relative;
}

.hero__content {
    max-width: 604px;
    padding-top: 50px;
}

h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
}

.hero__subtitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
}
